<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="TokuchoBugyoK2.Properties.Settings.TokuchoBugyoKConnectionString" connectionString="Data Source=HPNJPH8451DXGA;Initial Catalog=TokuchoBugyoK2BugyoE;Persist Security Info=True;User ID=sa;Password=@sa" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="Entry_Input_New" value="1" />
		<add key="Popup_ShukeiHyou_New" value="1" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
